In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('data_3608_20220912.xlsx')

C:\Users\rrr\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2472 entries, 0 to 2471
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목코드    2472 non-null   object
 1   종목명     2472 non-null   object
 2   종가      2472 non-null   int64
 3   대비      2472 non-null   int64
 4   등락률     2472 non-null   float64
 5   EPS     2472 non-null   object
 6   PER     2472 non-null   object
 7   선행 EPS  2472 non-null   object
 8   선행 PER  2472 non-null   object
 9   BPS     2472 non-null   object
 10  PBR     2472 non-null   object
 11  주당배당금   2472 non-null   int64
 12  배당수익률   2472 non-null   float64
dtypes: float64(2), int64(3), object(8)
memory usage: 251.2+ KB

In [21]:
df

,종목코드,종목명,종가,대비,등락률,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률
0,060310,3S,2840,80,2.90,16,177.5,-,-,792,3.59,0,0.00
1,095570,AJ네트웍스,7990,280,3.63,1707,4.68,856,9.33,8075,0.99,270,3.38
2,006840,AK홀딩스,15750,200,1.29,-,-,-,-,45961,0.34,200,1.27
3,054620,APS홀딩스,13550,150,1.12,1179,11.49,-,-,10088,1.34,100,0.74
4,265520,AP시스템,18850,500,2.72,3932,4.79,3957,4.76,12713,1.48,240,1.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2467,000547,흥국화재2우B,23400,1800,8.33,-,-,-,-,-,-,0,0.00
2468,000545,흥국화재우,6820,90,1.34,-,-,-,-,-,-,0,0.00
2469,003280,흥아해운,1605,40,2.56,118,13.6,-,-,428,3.75,0,0.00
2470,037440,희림,9960,-290,-2.83,490,20.33,-,-,4769,2.09,150,1.51
2471,238490,힘스,7060,260,3.82,-,-,-,-,6598,1.07,100,1.42

In [24]:
df.loc[2470]['종목명']

'희림 '

In [26]:
df['종목명'] = df['종목명'].str.strip()

In [6]:
df_1 = pd.DataFrame({ '종목명':['희림','롯데지주','신한지주']})
df_1

    종목명
0    희림
1  롯데지주
2  신한지주

In [27]:
df_2 = df_1.merge( df,how='left')
df_2

,종목명,종목코드,종가,대비,등락률,EPS,PER,선행 EPS,선행 PER,BPS,PBR,주당배당금,배당수익률
0,희림,037440,9960,-290,-2.83,490,20.33,-,-,4769,2.09,150,1.51
1,롯데지주,004990,40900,600,1.49,4315,9.48,3726,10.98,97570,0.42,1500,3.67
2,신한지주,055550,35050,800,2.34,7308,4.8,9370,3.74,88548,0.4,1960,5.59